body{
background-color: #e8ffff;
}


input {
  width: 50%;
}

table {
  border-collapse: collapse;
}
th {
 width: 100px;
}

td {
  width: 100px;
}

input {
  border: none;
}
table .jogador1 {
  width: 100px;
}
table .jogador2 {
  width: 100px;
}
table .jogador3 {
  width: 100px;
}
table .jogador4 {
  width: 100px;
}
