<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>
    <form action="/add" class="container">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="nome" id="nome" class="form-control">
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </form>
    
</body>
</html>