<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('statis', filename='css/style.css') }}" />
    
</head>
<body >
  <h1>Hello World!</h1>
  <p>Paragrafo<p>
  <table id="minhatabela" border="1">
      <tr>
        <th>Jogadas</th>
        <td>Jogador 1</td>
        <td>Jogador 2</td>
        <td>Jogador 3</td>
        <td>Jogador 4</td>
      </tr>
      <tr>
        <th>1</th>
        <td id="a1"><input id="meuInput"></td>
        <td id="b1"></td>
        <td id="c1"></td>
        <td id="d1"></td>
      </tr>
      <tr>
        <th>2</th>
        <td id="a2">0</td>
        <td id="b2">2</td>
        <td id="c2">0</td>
        <td id="d2">0</td>
      </tr>
      <tr>
        <th>3</th>
        <td id="a3">0</td>
        <td id="b3">0</td>
        <td id="c3">0</td>
        <td id="d3">0</td>
      </tr>
      <tr>
        <th>4</th>
        <td id="a4">0</td>
        <td id="b4">0</td>
        <td id="c4">0</td>
        <td id="d4">0</td>
      </tr>
      <tr>
        <th>5</th>
        <td id="a5">0</td>
        <td id="b5">0</td>
        <td id="c5">0</td>
        <td id="d5">0</td>
      </tr>
      <tr>
        <th>6</th>
        <td id="a6">0</td>
        <td id="b6">0</td>
        <td id="c6">0</td>
        <td id="d6">0</td>
      </tr>
      <tr>
        <th>T</th>
        <td id="a7">0</td>
        <td id="b7">0</td>
        <td id="c7">0</td>
        <td id="d7">0</td>
      </tr>
      <tr>
        <th>Q</th>
        <td id="a8">0</td>
        <td id="b8">0</td>
        <td id="c8">0</td>
        <td id="d8">0</td>
      </tr>
      <tr>
        <th>F</th>
        <td id="a9">1</td>
        <td id="b9">0</td>
        <td id="c9">0</td>
        <td id="d9">0</td>
      </tr>
      <tr>
        <th>S+</th>
        <td id="a10">2</td>
        <td id="b10">0</td>
        <td id="c10">0</td>
        <td id="d10">0</td>
      </tr>
      <tr>
        <th>S-</th>
        <td id="a11">0</td>
        <td id="b11">0</td>
        <td id="c11">0</td>
        <td id="d11">0</td>
      </tr>
      <tr>
        <th>G</th>
        <td id="a12">0</td>
        <td id="b12">0</td>
        <td id="c12">4</td>
        <td id="d12">2</td>
      </tr>
      <tr>
        <th>X</th>
        <td id="a13">0</td>
        <td id="b13">0</td>
        <td id="c13">1</td>
        <td id="d13">1</td>
      </tr>
      <tr>
        <th>Total</th>
        <td id="totalj1"></td>
        <td id="totalj2"></td>
        <td id="totalj3"></td>
        <td id="totalj4"></td>
      </tr>
  </table>
  <button onclick="calcular()">Calcular</button>

  <!-- Formulário para enviar os dados para a tabela -->

  <p id="resultado"></p>

  <script>
    function calcular() {
    var umInput = document.getElementById("entrada").value;
    document.getElementById("valor1").textContent = umInput;
    var cells = document.querySelectorAll("#minhatabela tr:not(:first-child):not(:last-child) td:nth-child(2)");
    var cells2 = document.querySelectorAll("#minhatabela tr:not(:first-child):not(:last-child) td:nth-child(3)");
    var cells3 = document.querySelectorAll("#minhatabela tr:not(:first-child):not(:last-child) td:nth-child(4)");
    var cells4 = document.querySelectorAll("#minhatabela tr:not(:first-child):not(:last-child) td:nth-child(5)");

    // Inicializa a variável para armazenar a soma
    var somaj1 = 0;
    var somaj2 = 0;
    var somaj3 = 0;
    var somaj4 = 0;

    // Itera sobre os elementos da segunda coluna
    cells.forEach(function(cell) {
      // Converte o texto da célula para um número e adiciona à soma
      somaj1 += parseInt(cell.textContent);
    });
    cells2.forEach(function(cell) {
      // Converte o texto da célula para um número e adiciona à soma
      somaj2 += parseInt(cell.textContent);
    });
    cells3.forEach(function(cell) {
      // Converte o texto da célula para um número e adiciona à soma
      somaj3 += parseInt(cell.textContent);
    });
    cells4.forEach(function(cell) {
      // Converte o texto da célula para um número e adiciona à soma
      somaj4 += parseInt(cell.textContent);
    });

    // Exibe o resultado da soma
    document.getElementById("totalj1").textContent = somaj1;
    document.getElementById("totalj2").textContent = somaj2;
    document.getElementById("totalj3").textContent = somaj3;
    document.getElementById("totalj4").textContent = somaj4;   
    }
    
  </script>
</body>

</html>